<h1><%= @blog.title %></h1>    <!-- using the equal sign because we want to see this info on our webpape -->
<p> <%= @blog.post %> </p>

<%= link_to "edit this post", edit_blog_path(@blog) %>

<%= link_to "Delete this post!", :blog, method: :delete, data: { confirm: "Are you sure?"} %>

<%= link_to "Back to the list!", blogs_path %>