<div class="showcontainer">
<h1><strong><%= @blog.title %></strong></h1>


  <div class="test1">  <%= image_tag(@blog.image, size: '400x300') %>  
<br> <%= image_tag(@blog.image, size: '400x300') %>  
  </div>



<div class="mainpost1">
<h2><%= @blog.title %></h2>    <!-- using the equal sign because we want to see this info on our webpape -->
<p class="wrapper"> 
<span class="image"><%= image_tag(@blog.image, size: '200x200') %>  </span>
<%= @blog.post %> </p>

<% if current_user %>
    <%= link_to "edit this post", edit_blog_path(@blog) %>
    <br>
    <%= link_to "Delete this post!", :blog, method: :delete, data: { confirm: "Are you sure?"} %>
    <br>
    <%= link_to "Back to the list!", blogs_path %>
<% else %>
<% end %>

</div>



<div class="comment">
<section>
         <h2>Comments</h2>

         <% @blog.comments.each do |comment| %>


         <div class="b">

            <p><strong>Name:</strong> <%= comment.name %></p>
            <p><strong>Date:</strong> <%= comment.date %></p>  
            <p><strong>Comment:</strong> <%= comment.body %></p>
         </div>

         <% end %>
</section>


<section>
         <h2>Add a comment!</h2>
         <%= form_for [@blog, @comment] do |f| %>
             
          <div>
                 <%= f.label :name %>
                 <%= f.text_field :name %>
</div>

  <div>
                 <%= f.label :date %>
                 <%= f.text_field :date %>
</div>

             <div>
                 <%= f.label :body, "comment" %>
                 <%= f.text_area :body %>
</div>
             
             <%= f.submit "Add your comment!" %>
         <% end %>
</section>
</div>
<%= link_to "Back to the list!", blogs_path %>

</div>