
  <%= link_to "sign up", signup_path %>
  <% if logged_in? %>
  Logged in as: <%= current_user.name %> <%= link_to 'log out', logout_path, method: :delete %>
<% else %>
  <%= link_to 'Log In', login_path %>
<% end %>



<h1>Users</h1>



<ul>
      <%  @users.each do |user|  %>   <!-- loop throuth the array -->
        <li><%= user.name %> </li>


      <%end %>

</ul>

<%= link_to 'Log Out', logout_path, method: :delete %>



<% if logged_in? %>
  Logged in as: <%= current_user.name %> <%= link_to 'Log Out', logout_path, method: :delete %>
<% else %>
  <%= link_to 'Log In', login_path %>
<% end %>

<%= link_to "Back to the list!", blogs_path %>